<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrado</title>

    <!-- JQuery -->
	<script src="js/jquery-2.2.1.js"></script>

    <script>
        $(document).ready(function(){
            $('#btn_index').click(function(){
                window.location.href = '/';
            })
        });
    </script>

</head>
<body>
    <h1>Parabéns</h1>
    <p>Sua conta foi criada com sucesso</p><br/>
    <button type="button" id="btn_index">Voltar para a página inicial</button>
</body>
</html>